.mag-title.mag-title-top {
    font-size: 3rem;
    margin: 0;
}

.mag-title {
    font-weight: 400;
}

.mag-title.mag-title-bottom {
    margin: 0 0 2rem 0;
}

.mag-copy.rte > p {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 300;
}